/* base */
.hide {
  display: none;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

body:has(.backdrop.is-open),
body:has(.mobile-menu.is-open) {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767.98px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  display: flex;
}
.logo-part {
  color: #4d5ae5;
}

@media only screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}
.nav-list {
  display: flex;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .nav-list {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }
}
.nav-link {
  font-weight: 500;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link.active {
  color: #404bbf;
}
.nav-link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

@media only screen and (max-width: 767.98px) {
  .address {
    display: none;
  }
}

.address-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .address-list {
    flex-direction: column;
    gap: 12px;
  }
}

.address-link {
  text-decoration: none;
  color: #434455;
  display: block;
  padding: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* hero */
/* Базові стилі */
.hero {
  background-color: #2e2f42;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/Dark-bg_mob@1x.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 0;
  max-width: 1440px;
  margin: 0 auto;
}

/* Мобілка 2x */
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/Dark-bg_mob@2x.jpg');
  }
}

/* Планшет 1x */
@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/Dark-bg_tablet@1x.jpg');
  }
}

/* Планшет 2x */
@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/Dark-bg_tablet@2x.jpg');
  }
}

/* ПК 1x */
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/Dark-bg_pc@1x.jpg');
  }
}

/* ПК 2x */
@media screen and (min-width: 1158px) and (min-resolution: 192dpi),
  screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/Dark-bg_pc@2x.jpg');
  }
}

.hero-title {
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  font-size: 16px;
  height: 56px;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* section features */

.features {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
}

.features-icon-wrapper {
  display: none;
}

@media screen and (min-width: 1158px) {
  .features-icon-wrapper {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }
}

.features-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 72px) / 4);
  }
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 1158px) {
  .features-text {
    font-weight: 400;
  }
}

/* section team */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}

.team-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-wrapper {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-desc {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}
/* section portfolio */
.portfolio {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

.portfolio-item {
  width: 288px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  } 

  .portfolio-item:hover {
    box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .overlay {
    transform: translateY(0);
  }
}

.portfolio-img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

@media screen and (min-width: 768px) {
  .portfolio-img {
    width: 356px;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio-img {
    width: 288px;
    height: 280px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* section footer */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    width: 584px; 
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .container-footer {
    flex-wrap: nowrap;
    padding-left: 0px;
    gap: 0;
    width: 100%; 
    margin: 0;
  }
}

/* --- LOGO BLOCK --- */
.container-logo {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container-logo {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .container-logo {
    margin-right: 120px;
  }
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  text-align: left;
}

/* --- SOCIAL MEDIA (CIRCLES) --- */
.media {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .media {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .media {
    margin-right: 80px;
  }
}

.media-title,
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: #f4f4fd;
}

/* --- SUBSCRIBE FORM --- */
.subscribe {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscribe {
    width: auto;
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .subscribe {
    margin-left: auto;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    gap: 24px;
  }
}

.form-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .form-input {
    width: 264px;
  }
}

.form-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  gap: 16px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 288px;
  padding: 72px 16px 24px 16px;

  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;

  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: #ffffff;
}

/* --- Заголовок --- */
.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.comment-wrap {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

/* --- Інпути --- */
.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  position: relative;
  padding-left: 24px;
}

/* --- Кастомний чекбок --- */
.custom-checkbox {
  position: absolute;
  left: 0;
  top: 8px;
  transform: translateY(-50%);

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .modal-label-checkbox .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.submit-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
}

/* #region Mobile menu */

.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 72px;
  padding-bottom: 40px;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}
.mobile-menu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}

.menu-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-close-btn:hover .menu-close-icon,
.mobile-close-btn:focus .menu-close-icon {
  fill: #ffffff;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav-link.active {
  color: #404bbf;
}

/* --- Контакти --- */
.mobile-menu-contacts {
  font-style: normal;
  margin-bottom: 48px;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contacts-link.accent-text {
  color: #4d5ae5;
}

.mobile-social-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-item:hover,
.mobile-social-item:focus {
  background-color: #404bbf;
}

.mobile-social-item .team-icon {
  fill: #f4f4fd;
}
